# Ignore the 'data' folder and its contents
data/

# Ignore the 'results' folder and its contents
results/

# Ignore the 'models' folder and its contents
models/

# Ignore virtual environment folder
.venv/

# Ignore Python bytecode files
*.pyc

